@use '../abstract/variaveis';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: variaveis.$Very-dark-blue ;
}