@use '../abstract/variaveis';
@use '../abstract/mixins';

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
    .title {
        @include mixins.family-color-size(variaveis.$font1, variaveis.$White, 2.5rem);
        line-height: 45px;
        strong {
            color: variaveis.$Soft-violet;
        }
    }
    .texts {
        @include mixins.family-color-size(variaveis.$font1, variaveis.$Slightly-transparent-gray, 0.875rem);
        line-height: 23px;
        letter-spacing: 0.9px;
    }
}
