//cores
$Very-dark-blue: hsl(233, 47%, 7%); //(main background)
$Dark-desaturated-blue: hsl(244, 38%, 16%); // (card background)
$Soft-violet: #aa5cdb; //(accent)

// ### Neutral
$White: hsl(0, 0%, 100%); // (main heading, stats)
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); // (main paragraph)
$Slightly-transparent-gray: hsla(0, 0%, 100%, 0.6); //(stat headings)

//Fontes

$font1: "inter",  system-ui;
$font2: "Lexend Deca", system-ui;
